html {
  background-image:url("minimal-coding-wallpaper-2560×1440.jpg");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
}


p{
 text-align: left;
 font-size: 20px;
 font-family:'Georgia';
 color: white;
 text-size-adjust:20%;
}